<div class="row">
  <div class="selections" ui-view>
    <div class="col-md-6 text-right"><a ui-sref="meditation" ng-click="quickStart(10)"class="btn btn-primary btn-md" ><i class="select-box"></i>10 Minute Quick Start</a></div>

    <div class="col-md-6 text-left"><a ui-sref="meditation" ng-click="quickStart(20)" class="btn btn-primary btn-md" ><i class="select-box"></i>20 Minute Quick Start</a>
  </div>
</div>

<div class="row">
  <div class="selections" ui-view>
    <div class="col-med-12 text-center"><a ui-sref="guide" class="btn btn-primary btn-md"><i class="select-box"></i>Custom Meditation</a></div>
  </div>
</div>