  <!-- HEADER AND NAVBAR -->
<header>
  <nav class="navbar">

      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="home"><i class="fa fa-home"></i> Home</a></li>
        <li><a ui-sref="about"><i class="fa fa-shield"></i> About</a></li>
        <li><a ui-sref="contact"><i class="fa fa-comment"></i> Contact</a></li>
      </ul>
  </nav>
</header>

<div class="logo text-center">
  <h1>Right Mind</h1>
</div>

<div class="main-view-container" ui-view>

<!--   <h1>Home</h1>

  <section >
    <p>{{ statistic[0].times_meditated }}</p>
  </section>

  <div>
    <button ng-click="play()" class="button" ng-show="!playing">Play</button>
    <button ng-click="stop()" class="button alert" ng-show="playing">Stop</button>
    Playing audio: <b>{{ playing }}</b>
  </div> -->

</div>